<center>
  <h1 class="logo-font slogan amber-text text-darken-3"><%= brewery.name %></h1>
  <h2 class="logo-font sub-slogan"><%= brewery.owner.name %>'s brewery in <%= brewery.location %></h2>
  <br/>

  <div id="chart_div" style="width: 100%; height: 500px;"></div>

  <br>
  <a id="back" href="" onclick="goBack()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
    <i class="material-icons">navigate_before</i>
  </a>
  <div class="mdl-tooltip mdl-tooltip--large" for="back">
    Go back to the previous page
  </div>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Time', 'Temp C°'],
        <% _.each(brewery.temperatures, function(breweryTemp) { %>
        ['<%= breweryTemp.createdAt %>', <%= breweryTemp.temperature %>],
        <% }); %>
      ]);

      var options = {
        title: 'Temperature measurements',
        hAxis: {title: 'Time', titleTextStyle: {color: '#333'}},
        vAxis: {}
      };

      var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
  </script>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</center>
